html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
label,
legend {
  color: #212835;
}

p,
input {
  font-size: 15px;
  color: #85939D;
}

section {
  margin: 40px 0;
}

.fs__window {
  max-width: 550px;
  margin: 40px 0;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 45px 0 rgba(0,0,0,.1);
}

.fs__heading {
  font-size: 32px;
  font-weight: 600;
}

.fs__description {
  font-size: 15px;
  margin-bottom: 35px;
}

.fs__ol {
  margin-bottom: 35px;
  list-style: none;
}

.fs__video {
  width: 470px;
  height: 270px;
}

input[type="submit"] {
  font-size: 16px;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 10px 15px;
  cursor: pointer;
  transition: all ease 300ms;
  color: #FFFFFF;
  border: 1px solid #00CC99;
  border-radius: 4px;
  background-color: #00CC99;
  &:hover,
  &:focus,
  &:active {
    color: #FFFFFF;
    border-color: #00A378;
    background-color: #00A378;
  }
}

form {
  label,
  legend {
    font-size: 13px;
    line-height: 1.5;
  }
  legend {
    margin-bottom: 6px;
  }
  fieldset {
    max-width: 100%;
  }
  input[type=text],
  input[type=email] {
    font-size: 14px;
    line-height: 1;
    height: auto;
    margin: 6px 0 20px;
    padding: 10px 10px 8px;
    border: 1px solid #D0D8DE;
    border-radius: 4px;
    box-shadow: none;
    &:focus {
      border: 1px solid #85939D;
      box-shadow: none;
    }
    input[type="radio"] {
      margin-bottom: 0;
      & + label[for] {
        font-size: 14px;
        line-height: 1;
        margin: 0;
      }
    }
  }
  .hs-form-required {
    display: none;
  }
  .form-columns-1 .hs-input,
  .form-columns-2 .hs-input,
  .form-columns-3 .hs-input {
    &[type=text],
    &[type=email] {
      width: 100% !important;
    }
  }
  .inputs-list {
    margin: 6px 0 20px;
    list-style: none;
    li {
      display: inline-block;
    }
  }
  .hs-form-radio label {
    line-height: 33px;
    span {
      font-size: 14px;
      margin-right: 20px;
    }
  }
  .hs-error-msgs {
    margin-top: -18px;
  }
}
